In [1]:
li = [1,2,3,4]

In [2]:
li_new = []
for ele in li:
    li_new.append(ele**2)
print(li_new)

[1, 4, 9, 16]

In [3]:
li_nw = [ele**2 for ele in li]     #2nd method

In [4]:
li_nw

[1, 4, 9, 16]

In [5]:
li_even_squre = []
for ele in li:
    if ele%2==0:
        li_even_squre.append(ele**2)
print(li_even_squre)

[4, 16]

In [9]:
#2nd method
li_even_squre = [ele**2 for ele in li if ele%2==0]   # 4 line code reduced into 1 line

In [10]:
li_even_squre

[4, 16]

In [11]:
li = [1,2,3,4,5,6,7,8]       #only multiple of 2 and 3
new_list = []
for ele in li:
    if ele%2==0:
        if ele%3==0:
            new_list.append(ele)
print(new_list)

[6]

In [13]:
#2nd method
li_new = [ele for ele in li if ele%2==0 if ele%3==0]

In [14]:
li_new

[6]

In [16]:
li_1= [1,2,3,4,5]
li_2= [2,4,6,7]
li_intersection = []
for ele1 in li_1:
    for ele2 in li_2:
        if ele1==ele2:
            li_intersection.append(ele1)
print(li_intersection)

[2, 4]

In [18]:
#2nd method
li_1= [1,2,3,4,5]
li_2= [2,4,6,7]
li_new1 = [ele1 for ele1 in li_1 for ele2 in li_2 if ele1==ele2]

In [19]:
print(li_new1)

[2, 4]

In [20]:
li = [1,2,3,4,5]
n_list = []
for ele in li:
    if ele%2==0:
        n_list.append(ele**2)
    else:
        n_list.append(ele)
print(n_list)

[1, 4, 3, 16, 5]

In [21]:
#2nd method
new_li= [ele**2 if ele%2==0 else ele for ele in li]           #if else method

In [22]:
new_li

[1, 4, 3, 16, 5]

In [23]:
p = 'Anand'
nw_li = [ele for ele in p]

In [24]:
nw_li

['A', 'n', 'a', 'n', 'd']

In [25]:
li = ['Anand','Sagar','Himanshu']
li_2d= [[s for s in ele ] for ele in li]

In [26]:
li_2d

[['A', 'n', 'a', 'n', 'd'],
 ['S', 'a', 'g', 'a', 'r'],
 ['H', 'i', 'm', 'a', 'n', 's', 'h', 'u']]