Function of string

In [1]:
str = 'My name is Anand'

In [2]:
li = str.split()

In [4]:
li

['My', 'name', 'is', 'Anand']

In [5]:
str = 'My,name,is,Anand'

In [6]:
li = str.split()

In [7]:
li

['My,name,is,Anand']

In [10]:
li = str.split(',')

In [11]:
li

['My', 'name', 'is', 'Anand']

In [ ]:
li = str.split(',',1)    #n+1

In [13]:
li

['My', 'name,is,Anand']

In [14]:
li = str.split(',',2)

In [15]:
li

['My', 'name', 'is,Anand']

Replace

In [17]:
str = 'My name is Priyanshu'
str.replace('Priyanshu','Anand')          #bcz string are immutable
print(str)

My name is Priyanshu

In [21]:
str = 'My name is Priyanshu'
str = str.replace('Priyanshu','Anand')               #actually returing new string
print(str)

My name is Anand

In [22]:
str = 'My name is Priyanshu Priyanshu Priyanshu'
str = str.replace('Priyanshu','Anand')              
print(str)

My name is Anand Anand Anand

In [ ]:
str = 'My name is Priyanshu Priyanshu Priyanshu'
str = str.replace('Priyanshu','Anand',2)               #only specify two stringstring
print(str)

Find,
Find return index actually

In [27]:
str  = 'My name is Priyanshu'
index = str.find('na')
print(index)

3

In [29]:
str  = 'My name is Priyanshu'
index = str.find('Na')
print(index)               #means string is not present

-1

In [30]:
str  = 'My name is Priyanshu Priyanshu'
index = str.find('Pri')
print(index)

11

In [33]:
str  = 'My name is Priyanshu Priyanshu'
index = str.find('Pri',10,21)
print(index)

11

Lower &  upper

In [35]:
str  = 'My name is Priyanshu'
str.lower()
print(str)

My name is Priyanshu

In [39]:
str  = 'My name is Priyanshu'
str = str.lower()              #have to store
print(str)
str = str.upper()
print(str)

my name is priyanshu
MY NAME IS PRIYANSHU

startswith

In [41]:
str  = 'My name is Priyanshu'
ans = str.startswith('My na')
print(ans)

True

In [42]:
str  = 'My name is Priyanshu'
ans = str.startswith('My Na')
print(ans)

False

In [44]:
str  = 'My name is Priyanshu'
ans = str.startswith('My Na',11,25)
print(ans)

False