In [1]:
s = 'abcd'
for i in s:
    print(i)

a
b
c
d

In [2]:
# print num form 0 to n
n = int(input())
for i in range(0,n,1):
    print(i)

4
0
1
2
3

In [9]:
# print num form 0 to n
#giving all three values to range
n = int(input())
for i in range(1,n+1,1):
    print(i)

4
1
2
3
4

In [11]:
#only one value to range and it uses it as stop and by default 0 for start and 1 for step 
n = int(input())
for i in range(n+1):
    print(i)

4
0
1
2
3
4

In [14]:
#only two values to range and it uses as first argument as start and second as stop and step is by default 1
n = int(input())
for i in range(1,n+1):          
    print(i)

4
1
2
3
4

In [17]:
# number from n to 1
n = int(input())
for i in range(n,1,-1):
    print(i)

4
4
3
2

In [18]:
n = int(input())
for i in range(n,0,-1):
    print(i)

4
4
3
2
1

### PrintMultiple3

In [21]:
#a<b
a = int(input())
b = int(input())
for i in range(a,b,3):
    print(i)

3
30
3
6
9
12
15
18
21
24
27

In [22]:
#a<b
a = int(input())
b = int(input())
for i in range(a,b+1,3):
    print(i)

3
30
3
6
9
12
15
18
21
24
27
30

In [23]:
#a<b
a = int(input())
b = int(input())
for i in range(a,b+1,3):
    print(i)

3
29
3
6
9
12
15
18
21
24
27

In [24]:
#a<b            This logic is not run prefectly
a = int(input())
b = int(input())
for i in range(a,b+1,3):
    print(i)

1
10
1
4
7
10

In [25]:
a = int(input())
b = int(input())
for i in range(a,b+1,1):
    if i%3==0:
        print(i)

1
10
3
6
9

In [1]:
a = int(input())
b = int(input())
if a%3==0:
    s = a
elif a%3==1:
    s = s+2
else:
    s = s+1
for i in range(a,b+1,3):
    print(i)

3
20
3
6
9
12
15
18

### IsPrime

In [2]:
n = int(input())
flag = False
for d in range(2,n,1):
    flag = True
if flag:
    print('Not prime')
else:
    print('prime')

9
Not prime

      1
     232
    34543
   4567564

In [6]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(n-i):           #space(n-i)
        print(' ',end="")
    for j in range(i,2*i,1):       #i  to 2i-1
        print(j,end="")
    for j in range(2*i-2,i-1,-1):  #2i-2 to i 
        print(j,end="")
    print()

4
   1
  232
 34543
4567654

****
***
**
*

In [19]:
n = int(input())
for i in range(1,n+1,1):
    for j in range(i,n+1,1):     # i to n
        print('*',end="")
    print()

4
****
***
**
*

   *
  **
 ***
****

In [17]:
n = int(input())
for i in range(1,n+1):
    for s in range(n-i):
        print(' ',end = "")
    for j in range(1,i+1):
        print('*',end="")
    print()

4
   *
  **
 ***
****

   *
  ***
 *****
*******

In [33]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(n-i):           #space(n-i)
        print(' ',end="")
    for j in range(i,2*i,1):       #i  to 2i-1
        print('*',end="")
    for j in range(2*i-2,i-1,-1):  #2i-2 to i 
        print('*',end="")
    print()

5
    *
   ***
  *****
 *******
*********

  *
 ***
*****

In [2]:
n= int(input())
n1 = (n+1)//2
n2=n//2
for i in range(1,n1+1,1):           # 1 to n
    for s in range(n1-i):
        print(' ',end="")
    for j in range(1,2*i,1):            # 1 to 2i-1
        print('*',end="")
    print()

5
  *
 ***
*****

   1
  12
 123
1234

In [22]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(' ',end="")
    for j in range(1,i+1):
        print(j,end="")
    print()

4
   1
  12
 123
1234

   1
  23
 345
4567

In [24]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(' ',end="")
    for j in range(i,2*i,1):
        print(j,end="")
    print()

4
   1
  23
 345
4567

In [13]:
n = int(input())
for i in range(1,n+1,1):       # i to n
    for j in range(1,i+1,1):   # 1 to i
        print(j,end="")
    print()

4
1
12
123
1234

In [14]:
n = int(input())
for i in range(1,n+1,1):
    
    for j in range(i,n+1,1):     # i to n
        print(j,end="")
    print()

4
1234
234
34
4

In [15]:
n = int(input())
for i in range(1,n+1,1):
    for j in range(1,n+1,1):    #1 to n
        print(j,end="")
    print()

4
1234
1234
1234
1234

1234
 234
  34
   4

In [28]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(i-1):     #space=i-1
        print(' ',end="")
    for j in range(i,n+1,1):
        print(j,end="")
    print()

4
1234
 234
  34
   4

In [16]:
n = int(input())
for i in range(1,n+1):
    for s in range(n-i):
        print(' ',end = "")
    for j in range(1,i+1):    #1 to i
        print(j,end="")
    print()

4
   1
  12
 123
1234

In [18]:
n = int(input())
for i in range(1,n+1):
    for j in range(i,2*i):   # i to 2i-1
        print(j,end='')
    print()

4
1
23
345
4567

In [20]:
n = int(input())
for i in range(1,n+1,1):
    for j in range(n,0,-1):     # i to n
        print(j,end="")
    print()

4
4321
4321
4321
4321

In [21]:
n = int(input())
for i in range(1,n+1,1):
    for j in range(n,i-1,-1):     # n to i
        print(j,end="")
    print()

4
4321
432
43
4

12345
 2345
  345
   45
    5

In [30]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(i-1):
        print(' ',end="")
    for j in range(i,n+1,1):
        print(j,end="")
    print()

5
12345
 2345
  345
   45
    5

### Elsefor/whileLoop

In [22]:
n = int(input())
i = 1
while i<n:
    print(i)
    i = i+1
else:
    print('This will be printed once at the end')

10
1
2
3
4
5
6
7
8
9
This will be printed once at the end

In [ ]:
n = int(input())
for i in range(1,n):
    print(i)
else:
    print('This will be printed once at the end')

In [31]:
n = int(input())
for i in range(1,n):
    print(i)
print('This will be printed once at the end')

10
1
2
3
4
5
6
7
8
9
This will be printed once at the end

In [39]:
#for i in range(1,10):
#    if n==5:
#        break
#    print(i)
#else:
#    print('This will be printed once at the end')

In [42]:
#if prime, print prime number or don't do anything
#for loop terminated by break statement

n = int(input())
for d in range(2,n,1):
    if n%d==0:
        break
else:
    print('Prime number')

10

In [43]:
#for loop is completely executed don't go inside break statment

n = int(input())
for d in range(2,n,1):
    if n%d==0:
        break
else:
    print('Prime number')

13
Prime number

### Continue

In [49]:
n = int(input())
for i in range(2,n+1,2):
    if i%7==0:          #skip the multiplication of 7
        continue
    print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [1]:
n = int(input())
for i in range(2,n+1,2):
    print(i)
    if i%7==0:          #skip the multiplication of 7
        continue
    print(i)

100
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30
32
32
34
34
36
36
38
38
40
40
42
44
44
46
46
48
48
50
50
52
52
54
54
56
58
58
60
60
62
62
64
64
66
66
68
68
70
72
72
74
74
76
76
78
78
80
80
82
82
84
86
86
88
88
90
90
92
92
94
94
96
96
98
100
100

In [6]:
# print multiplication pf 2, two times and multiplication of 7 one times
n = int(input())
for i in range(2,101,2):
    print(i)
    if i%7==0:
        continue
    print(i)

100
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30
32
32
34
34
36
36
38
38
40
40
42
44
44
46
46
48
48
50
50
52
52
54
54
56
58
58
60
60
62
62
64
64
66
66
68
68
70
72
72
74
74
76
76
78
78
80
80
82
82
84
86
86
88
88
90
90
92
92
94
94
96
96
98
100
100

In [13]:
n = int(input())
i=2
while i<=n:
    if i%7==0:
        continue
    print(i)             #the problem is, in case of while loop i = i+2 is also skipped. In for loop increment
                         #take care of but in case of while incrementing  in the number so got stuck basically skip the incementing part
    i = i+2

10
2
4
6
8
10

In [14]:
n = int(input())
i=2
while i<=n:
    if i%7==0:
        i = i+2
        continue
    print(i)             #the problem is, in case of while loop i = i+2 is also skipped. In for loop increment
                         #take care of but in case of while incrementing  in the number so got stuck basically skip the incementing part
    i = i+2

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

### Pass

In [17]:
a=12
if a<20:
    pass
print('hey')

hey

In [18]:
i = 1
while i<=3:
    pass
print('hey')       #infinite loop bcz we have not incremented

KeyboardInterrupt:

In [19]:
i = 1
while i<=3:
    pass
    i = i+1
print('hey')

hey

In [21]:
for i in range(1,4):
    pass
print('hey')

hey

### Assignment

### Binary Pattern

1111
000
11
0

In [25]:
n = int(input())
for i in range(1,n+1,1):
    for j in range(i,n+1,1):
        if i%2==0:
            print('0',end="")
        else:
            print('1',end="")
    print()

4
1111
000
11
0

In [3]:
n = int(input())
for i in range(1,n+1,1):
    for s in range(i-1):
        print(' ',end="")
    for j in range(i,n+1,1):
        print(j,end="")
    print() 
for i in range(n, 2*n - 1, 1):
    for spaces in range(2*n-i-1, 1, -1):
        print(" ", end = '')
    for k in range(2*n-i-1 ,n+1, 1):
        print(k, end = '')    
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [4]:
n =  int(input())
n1=(n+1)//2
n2=n//2
for i in range(1,n1+1,1):
    for sp in range(n1-i):
        print(' ',end="")
    for st in range(1,2*i,1):
        print('*',end="")
    print() 
for i in range(n2,0,-1):
    for sp in range(n2-i+1):
        print(' ',end="")
    for st in range(1,2*i,1):
        print('*',end="")
    print()

5
  *
 ***
*****
 ***
  *