In [3]:
def tower_hanoi(n,a,b,c):
    if n == 1:         #base case, when only one disk
        print(' move 1st disk from ', a , 'to', c)
        return
    tower_hanoi(n-1,a,c,b)   # move n-1 from a to b with the help of c
    print(' move', n,'th disk from ', a , 'to', c)
    tower_hanoi(n-1,b,a,c)     # move n-1 from b to c with the help of a

In [4]:
tower_hanoi(1,'s','h','d')

 move 1st disk from  s to d

In [5]:
tower_hanoi(2,'s','h','d')

 move 1st disk from  s to h
 move 2 th disk from  s to d
 move 1st disk from  h to d

In [7]:
tower_hanoi(3,'s','h','d')

 move 1st disk from  s to d
 move 2 th disk from  s to h
 move 1st disk from  d to h
 move 3 th disk from  s to d
 move 1st disk from  h to s
 move 2 th disk from  h to d
 move 1st disk from  s to d

In [8]:
def tower_hanoi(n,a,b,c):
    if n == 1:         #base case, when only one disk
        print(a ,' ',c)
        return
    tower_hanoi(n-1,a,c,b)   # move n-1 from a to b with the help of c
    print(  a ,' ', c)
    tower_hanoi(n-1,b,a,c)

In [11]:
tower_hanoi(3,'s','h','d')

s   d
s   h
d   h
s   d
h   s
h   d
s   d