### First pattern

****
****
****
****

In [2]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=n:
        print('*', end='')   #print jth column
        j = j+1
    print()           #print newline
    i = i+1

4
****
****
****
****

In [3]:
N = int(input())
i = 0
while i<=N:
    j = 1
    while j<=N:
        print((N),end='')
        j = j+1
    print()              #print newline
    i = i+1

4
4444
4444
4444
4444
4444

### Squre pattern

In [ ]:
1111
2222
3333
4444

In [4]:
n = int(input())  #here column is same and row is different so print(i)
i = 1
while i<=n:
    j = 1
    while j<=n:
        print(i,end='')
        j = j +1
    print()          #print newline
    i = i + 1

4
1111
2222
3333
4444

In [ ]:
1234
1234
1234
1234

In [5]:
n = int(input())  #here row is same and column is different so print(j)
i = 1
while i<=n:
    j = 1
    while j<=n:
        print(j,end='')
        j = j +1
    print()              #print newline
    i = i + 1

4
1234
1234
1234
1234

4321
4321
4321
4321

In [2]:
n = int(input())  
i = 1
while i<=n:
    j = 1
    while j<=n:
        print(n-j+1,end='')
        j = j+1
    print()             #print newline
    i = i+1

4
4321
4321
4321
4321

### Tringular pattern

In [ ]:
1
12
123
1234

In [8]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=i:          # ith row i column
        print(j,end='')
        j = j + 1
    print()              #print newline
    i = i + 1

4
1
12
123
1234

In [ ]:
1
23
345
4567

In [9]:
int(input())
i = 1
while i<=n:
    j = 1
    k = i           # here k is in the loop so k is reset in each row
    while j<=i:           # ith row i column
        
        print(k,end='') 
        j = j+1
        k = k+1         
    print()              # print newline
    i = i + 1

4
1
23
345
4567

1
21
321
4321

In [23]:
int(input())
i = 1
while i<=n:
    j = 1
    k = i           # here k is in the loop so k is reset in each row
    while j<=i:           # ith row i column
        
        print(k,end='') 
        j = j+1
        k = k-1        
    print()              # print newline
    i = i + 1

4
1
21
321
4321

In [ ]:
1
23
456
78910

In [7]:
n = int(input())
i = 1
k = 1           #here k is out of loop so k is not reset in each row
while i<=n:
    j = 1
    while j<=i:
        print(k,end='')
        k = k+1
        j = j+1
    print()
    i = i+1

3
1
23
456

### Character pattern

In [9]:
#print kth term
k = int(input())
# 'A' + k -1
x = ord('A')
asciitrgt = x + k - 1
trgtchrcter= chr(asciitrgt)
trgtchrcter

4

'D'

In [ ]:
ABCD
ABCD
ABCD
ABCD

In [10]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=n:
        charp =  chr(ord('A') + j -1)    #print jth column
        print(charp,end='')
        j = j+1
    print()
    i = i+1

4
ABCD
ABCD
ABCD
ABCD

In [ ]:
ABCD
BCDE
CDEF
DEFG

In [1]:
n = int(input())
i = 1
while i<=n:
    j = 1
    star_char =  chr(ord('A') + i -1)   #ith row
    while j<=n:
         #print jth column
        charp =  chr(ord(   star_char) + j -1)   
        print(charp,end='')
        j = j+1
    print()
    i = i+1

4
ABCD
BCDE
CDEF
DEFG

In [ ]:
A
BC
CDE
DEFG

In [17]:
n = int(input())
i = 1
while i<=n:
    j=1
    start_char = chr(ord('A') + i - 1)
    while j<=i:
        charp = chr(ord(start_char) + j - 1)
        print(charp,end='')
        j = j+1
    print()
    i = i + 1

4
A
BC
CDE
DEFG

In [ ]:
A
BC
CDE
DEFG

In [18]:
n = int(input())
i = 1
while i<=n:
    j = 1
    star_char =  chr(ord('A') + i -1)   #ith row
    while j<=i:
        charp =  chr(ord(   star_char) + j -1)    #print jth column
        print(charp,end='')
        j = j+1
    print()
    i = i+1

5
A
BC
CDE
DEFG
EFGHI

In [22]:
n = int(input())
i = 1
while i<=n:
    j = 1
    charp =  chr(ord('A') + i - 1)
    while j<=i:
       
        print(charp,end='')
        j = j+1
    print()            
    i = i+1

4
A
BB
CCC
DDDD

### Assignment

#Number Pattern 1
1
11
111
1111

In [1]:
n = int(input())
i = 1
while i<=n:
    j=1
    while j<=i:
        
        print(1,end="")
        j=j+1
        
    print()    
    i = i+1

4
1
11
111
1111

1234
123
12
1

In [1]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=n-i+1:
        print(j,end='')
        j = j+1
    print()
    i = i+1

4
1234
123
12
1

1
11
121
1221

In [2]:
#another method
n=int(input())
print(1)
i=1
while i<=n-1:
    j=1
    while j<=i+1:
        if j==1 or j>=i+1:
            print(1,end="")
        else:
            print(2,end="")
        j= j+1
    print()
    i= i+1

4
1
11
121
1221

In [7]:
#first method
n=int(input())
i = 0           #start from i=0
while i <n:
    j = 0
    while j <i+1:
        if (j==0) or (j == i):    
            print(1,end="")
        else:
            print(2,end='')
        j = j + 1
    i = i + 1
    print()

4
1
11
121
1221

In [1]:
#second method
n = int(input())
i = 1                             #start from i==1
while i<=n:
    j = 1
    while j<=i:
        if j==1 or j==i:
            print(1,end="")
        else:
            print(2,end="")
        j = j+1
    print()    
    i = i+1

4
1
11
121
1221

In [ ]:

4
1
11
202
3003

In [2]:
n = int(input())
print(1)
i = 1
while i<=n-1:
    j = 1
    while j<=i+1:
        if j==1 or j>=i+1:
            print(i,end='')
        else:
            print(0,end='')
        j = j+1
    print()
    i=i+1

4
1
11
202
3003

A
BC
CDE
DEFG

In [1]:
n = int(input())
i = 1
while i<=n:
    j=1
    start_char = chr(ord('A') + i - 1)
    while j<=i:
        charp = chr(ord(start_char) + j - 1)
        print(charp,end='')
        j = j+1
    print()
    i = i + 1

4
A
BC
CDE
DEFG

D
CD
BCD
ABCD

In [2]:
n=int(input())
i=1
while i<=n:
    j=1
    startChar=chr(ord('A')+n-i)        #bottom t
    while j<=i:
        charP=chr(ord(startChar)+j-1)
        print(charP,end='')
        j=j+1
    print()
    i=i+1

4
D
CD
BCD
ABCD

A
BB
CCC
DDDD

In [3]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=i:
        charp =  chr(ord('A') +i  - 1)
        print(charp,end='')
        j = j+1
    print()            
    i = i+1

4
A
BB
CCC
DDDD

In [ ]:
4321
432
43
4

In [2]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=n-i+1:
        print(n-j+1,end='')
        j = j+1
    print()
    i = i+1

4
4321
432
43
4